@import "fonts.styl"

// VARIABLES

responsiveHeader = 840px

headerFooterHeight = 124px
headerHeight = 62px

transitionTime = 0.7s

white = #ffffff
black = #1b1f23
gold = #b59758
offGold = #c4b998
darkGold = #937341
headerBackground= #121212
darkBackground = #1c2229
videoWidth = 650px
boxShadow = 0 4px 13px rgba(0,0,0,.42)

headerBorderColor = #342a20
headerButtonTextColor = gold
headerTitleTextColor = #bdb298


// EXTENSIONS

.beaufort-font
    font-family: "Beaufort", serif

.merrieweather
    font-family: "Merriweather Sans", sans-serif;

.header-button-text
    @extends .beaufort-font
    color: headerButtonTextColor
    text-transform: uppercase
    font-weight: bold
    font-size: 16px
    letter-spacing: 3px

.header-title-text
    @extends .beaufort-font
    color: headerTitleTextColor
    text-transform: uppercase
    font-weight: bold
    font-size: 16px
    letter-spacing: 3px

.gold-title
    @extends .beaufort-font
    color: gold
    text-transform: uppercase
    font-weight: bold
    font-size: 46px
    letter-spacing: 3px

.black-title
    @extends .beaufort-font
    color: black
    text-transform: uppercase
    font-weight: bold
    font-size: 48px
    letter-spacing: 3px

.gold-subtitle
    @extends .beaufort-font
    color: gold
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

.gold-body
    @extends .beaufort-font
    color: offGold
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 0.06em;

.dark-gold-body
    @extends .beaufort-font
    color: darkGold
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 0.06em;

.flip-horizontal
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)

.flip-vertical
    -moz-transform: scaleY(-1)
    -o-transform: scaleY(-1)
    -webkit-transform: scaleY(-1)
    transform: scaleY(-1)

.color-transition
    -webkit-transition: color transitionTime;
    -moz-transition:    color transitionTime;
    -ms-transition:     color transitionTime;
    -o-transition:      color transitionTime;
    transition:         color transitionTime;

.fill-transition
    -webkit-transition: fill transitionTime;
    -moz-transition:    fill transitionTime;
    -ms-transition:     fill transitionTime;
    -o-transition:      fill transitionTime;
    transition:         fill transitionTime;

.hidden
    display: none
    opacity: 0

// SEARCH COMPONENTS

.search-icon
    width: 30%
    display: inline-block
    
    img
        max-width: 40px

.search-page
    min-height: "calc(100vh - %s)" % headerFooterHeight

    .big-search-icon
        padding-top: 20px
        padding-bottom: 20px
        display: inline-block

        img
            max-height: 40px

    .big-search-bar
        padding-top: 60px
        padding-bottom: 20px
        padding-left: 20px
        width: 80%
        display: inline-block

        input
            width: 100%
            letter-spacing: 3px
            border: 1px solid gold
            font-size: 20px
            padding: 10px

            &:focus
                outline: none

    .tile-text:hover
        .tile-title
            @extends .color-transition
            color: offGold !important
        .tile-subtitle
            @extends .color-transition 
            color: offGold !important
        svg
            @extends .fill-transition
            fill: offGold !important
            
    .search-tile
        padding: 40px 0
        
        .tile-text
            display: inline-block
            vertical-align: middle

            .tile-title
                @extends .gold-title

            @media screen and (max-width: 720px)
                .tile-title
                    font-size: 25px

            .tile-subtitle
                @extends .dark-gold-body
                font-weight: bold

    .no-results-outer
        min-height: "calc(100vh - %s - 200px)" % headerFooterHeight
        display: none
        margin: auto

        .no-results
            @extends .gold-title
            display: table-cell
            vertical-align: middle
            font-size: 40px
            text-align: center

.search-bar
    width: 65%
    display: inline-block

    input
        width: 100%
        letter-spacing: 3px
        background-color: #1c1c1c
        border: none

        &:focus
            outline: none

    #hamburger-search::-webkit-input-placeholder, #search::-webkit-input-placeholder
        color: offGold

    #hamburger-search::-moz-placeholder, #search::-moz-placeholder
        color: offGold

    #hamburger-search:-ms-input-placeholder, #search:-ms-input-placeholder
        color: offGold

    #hamburger-search:-moz-placeholder, #search:-moz-placeholder
        color: offGold

    @media screen and (max-width: responsiveHeader)
        #hamburger-search::-webkit-input-placeholder, #search::-webkit-input-placeholder
            text-align: center

        #hamburger-search::-moz-placeholder, #search::-moz-placeholder
            text-align: center

        #hamburger-search:-ms-input-placeholder, #search:-ms-input-placeholder
            text-align: center

        #hamburger-search:-moz-placeholder, #search:-moz-placeholder
            text-align: center

/*
.autocomplete-suggestions
    @extends .beaufort-font
    font-size: 20px
    background-color: white
    border: 1px solid gold

    .autocomplete-suggestion
        font-weight: bold
        height: 40px
        padding: 8px 0 

        b
            font-weight: bold
            color: gold
*/

// HOME COMPONENTS

.home-row
    position: relative
    z-index: 1
    display: table
    width: 100%

    .home-inner-first
        display: table-cell
        vertical-align: middle
        background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/img/landing_bg.jpg')
        background-size: cover
        height: "calc(100vh - %s)" % headerHeight

        .home-content
            text-align: center
            max-width: 1000px
            margin: 0 auto

            .main-title
                @extends .gold-title
                font-size: 65px

                .small
                    margin: -10px 0
                    font-size: 40px

            .subtitle
                @extends .gold-title
                font-size: 25px
                color: offGold !important
                padding-top: 10%
                width: 60%
                margin: auto
                // text-transform: none

            img
                width: 50%
                padding-bottom: 50px

    .home-inner-second
        padding: 100px 0

        .site-description
            padding-left: 8%
            padding-right: 6%

        .dark-gold-body
            font-weight: bold
        
        .home-search
            margin-top: 120px

            img
                display: inline-block
                margin: 0 30px 60px 0

            .search-tile
                display: inline-block

                .tile-text:hover
                    .tile-title
                        @extends .color-transition
                        color: offGold !important
                    .tile-subtitle
                        @extends .color-transition 
                        color: offGold !important

                .tile-title
                    @extends .gold-title
                    text-align: left

                .tile-subtitle
                    @extends .dark-gold-body
                    font-weight: bold
                    text-align: left

        @media screen and (max-width: 560px)
            .home-search
                margin-top: 60px

                img
                    display: none
    @media screen and (max-width: 992px)
        .home-inner-second
            padding-bottom: 50px
            
            .home-search
                text-align: center
                margin-top: 70px
    
    .home-inner-third
        display: table-cell
        vertical-align: middle
        background-color: darkBackground
        padding: 40px 0
        text-align: center

        .game-link
            display: inline-block
            max-width: 50%

            img
                max-width: 150px
                padding: 20px 0

        @media screen and (max-width: 760px)
            .game-link
                max-width: 100%
            
        .home-info
            max-width: 50%
            text-align: left
            display inline-block
            padding: 0 50px
            vertical-align: middle

        @media screen and (max-width: 760px)
            .home-info
                max-width: 100%


// ABOUT COMPONENTS

.about
    display: table
    width: 100%
    height: "calc(100vh - %s)" % headerFooterHeight

    .about-inner
        display: table-cell
        vertical-align: middle
        background-color: darkBackground
        padding: 30px

        .about-content
            max-width: 400px
            margin: 0 auto


// CONTACT COMPONENTS

.contact
    display: table
    width: 100%
    height: "calc(100vh - %s)" % headerFooterHeight

    .contact-inner
        display: table-cell
        vertical-align: middle
        background-color: darkBackground
        padding: 30px

        .contact-content
            max-width: 400px
            margin: 0 auto

            .email
                @extends .gold-title
                font-size: 1.3em
                padding: 20px 0

                img
                    margin-right: 10px
                    max-width: 10%
                    max-height: 10%


// HEADER     

.site-header
    position: relative
    z-index: 2
    width: 100%
    background-color: headerBackground
    box-shadow: boxShadow
    border: 1px solid headerBorderColor
    border-left: 0
    border-right: 0

    .header-content
        width: 100%
        height: 60px

        .header-row
            height: 100%

            .menu
                height: 100%

            li
                height: 100%
                list-style-type: none
                padding: 0

            .header-search
                @extends .header-title-text
                padding-top: 18px
                padding-left: 0
                padding-right: 0
                height: 100%
                text-align: center
                background-color: #1c1c1c

            .header-button
                @extends .header-button-text
                padding-top: 18px
                height: 100%
                text-align: center
                border: 1px solid headerBorderColor
                border-top: 0px
                border-bottom: 0px

        .header-title
            @extends .header-title-text
            font-size: 20px
            padding-top: 15px
            height: 100%
            padding-left: 5%

            @media screen and (max-width: 400px)
                padding-top: 23px
                font-size: 12px

        .header-hamburger
            height: 100%
            display: none

            input
                height: 100%
                width: 40px
                float: right
                outline: none !important

        .hamburger-menu
            height: 0px

            .hamburger-row
                height: 50px
                text-align: center
                border: 1px solid offGold
                border-left: 0
                padding-top: 10px
                border-right: 0
                background-color: headerBackground

            .hamburger-search
                @extends .header-title-text
                background-color: #1c1c1c
                margin: 0 -15px

@media screen and (max-width: responsiveHeader)
    .header-expanded
        display: none

    .header-hamburger
        display: block !important


// FOOTER

.site-footer
    @extends .site-header

    .footer-content
        width: 100%

        .footer-row
            @extends .gold-subtitle
            text-transform: None
            padding-top: 20px
            height: 100%
            text-align: center

            .share
                padding-top: 30px

                img
                    max-width: 40px

            .endorse
                padding: 30px
                font-size: 10px

// POST COMPONENTS

.post-container
    padding-top: 60px

    .title-row
        margin-bottom: 40px

    .post-title
        @extends .gold-title
        text-align: center
        padding-bottom: 10px

    @media screen and (max-width: 430px)
        .post-title
            font-size: 25px

    .post-subtitle
        @extends .gold-subtitle
        text-align: center
        padding-bottom: 70px

    .post-player
        @extends .gold-title
        font-size: 24px
        padding-bottom: 30px
        text-align: center

    @media screen and (max-width: 430px)
        .post-player
            font-size: 22px

    .post-video
        max-width: videoWidth
        margin: auto
        
        &::before
            display: none
            content: ''
            position: absolute
            min-height: 100px
            width: 100%
            background-image: url(/img/video-frames.png)
            background-size: contain
            background-repeat: no-repeat

        &::after
            display: none
            @extends .flip-vertical
            content: ''
            position: absolute
            min-height: 100px
            width: 100%
            background-image: url(/img/video-frames.png)
            background-size: contain
            background-repeat: no-repeat
            margin-top: -90px

        @media (max-width: 1200px) and (min-width: 901px)
            &::before
                width: 95%
            
            &::after
                width: 95%

        @media screen and (max-width: 900px)
            &::before
                display: none
            
            &::after
                display: none

        .video-content
            padding: 0 0 0 20px

            .video
                box-shadow: 5px 7px 13px rgba(0,0,0,.5)

        .video-container
            position: relative
            padding-bottom: 56.25%
            padding-top: 30px
            height: 0
            overflow: hidden
            z-index: 10

            iframe 
                border: 1px solid gold
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

    .post-content
        @extends .gold-body
        max-width: 900px
        margin: auto
        padding-bottom: 30px
        
        h3
            color: gold
            text-transform: uppercase
            padding-bottom: 10px

    .quote-row
        @extends .gold-body

        .quote-container
            text-align: center
            margin-top: 50px
            margin-bottom: 10px

            blockquote
                margin-left: 10px
                display: inline-block
                border-left: 1px solid gold

                .post-quote
                    font-style: italic
                    font-size: 30px
                    text-align: left

                .post-quote-author
                    text-align: left
                    font-size: 14px
                    font-weight: bold
                    text-transform: uppercase


.video-col
    margin-top: 25px

    .post-video-pagination
        padding-top: 30px

        .tab-pane
            width: 80%
            margin: auto

        .pagination-decor
            display: none
            padding-bottom: 65px
            width: 20%
        
        @media screen and (max-width: 400px)
            .pagination-decor
                display: none       

        ul
            display: inline-block

        li.active
            border: 2px solid gold

            a, a:hover, a:focus
                color: gold !important

        .page-button
            @extends .gold-title
            font-weight: bold
            font-size: 30px
            margin: 10px
            border: 1px solid offGold

            li.active
                background-color: darkBackground
                

            a, a:hover, a:focus
                padding: 3px 13px !important
                color: offGold
                background-color: darkBackground

        .tab-content
            @extends .gold-subtitle
            font-size: 16px
            text-transform: none
            word-wrap: break-word
            text-align: left


.next-button
    @extends .gold-title
    padding: 70px 0 70px 0
    text-align: center
    font-size: 20px

    a:hover
        @extends .color-transition
        color: offGold !important

        svg
            @extends .fill-transition
            fill: offGold !important

    svg
        fill: gold
        margin-left: 20px
        max-width: 30px
        max-height: 30px
        vertical-align: middle

    @media screen and (max-width: 330px)
        svg
            display: None

.player-info
    width: 100%
    background-color: white
    padding: 60px 0
    margin-top: 50px

    .player-head
        margin: 60px 0
        text-align: center

        img
            max-width: 200px

    @media screen and (max-width: 530px)
        .player-bio
            .black-title
                font-size: 30px

    @media screen and (max-width: 992px)
        .player-bio
            .black-title
                text-align: center

    .player-bio
        margin: 50px 0
        text-transform: none
        text-align: left
        font-weight: bold

// ADS
    

// THEMES

article.white
    background-color: white

    .post-title
        color: black !important

    .post-player
        color: black !important

    .post-subtitle
        color: darkGold !important
        font-weight: bold !important

    .post-content
        color: darkGold !important

    .tab-content
        color: gold !important
        font-weight: bold !important
    
    li.active
            border: 2.5px solid gold !important
    
    .page-button
        li
            background-color: white !important
            
        a, a:hover, a:focus
            background-color: white !important


article.black
    background-color: darkBackground

// NATIVE

hr
    width: 100px
    border-top: 1px solid gold

a
    text-decoration: none !important
    color: gold !important