<div class="home-row">
    <div class="home-inner-first">
        <div class="home-content">
            <div class="main-title">
                LEAGUE 
                <div class="small">OF</div>
                LEGACIES
            </div>
            <div class="subtitle">
                Explore the greatest moments in LoL history
            </div>
        </div>
    </div>
</div>
<div class="home-row container">
    <div class="row home-inner-second">
        <div class="col-md-8 site-description">
            <div class="black-title">
                LEGACIES
            </div>
            <hr align="left">
            <div class="dark-gold-body">
                <p>
                    League of Legacies aims to celebrate the greatest moments in League of Legends history. It strives to document famous (or infamous) professional player highlights and provide details about their legacies. With the ever evolving landscape of the game, this site provides a glimpse into the past where legendary moments create the foundation of today's strategies. Let us all look back and honor the achievements and endeavors of these legends!
                </p>
            </div>
        </div>
        <div class="col-md-4 home-search">
            <a href="/search">
                <img src="/img/magnify.png" >
                <div class="search-tile">
                    <div class="tile-text">
                        <div class="tile-title">
                            Search
                        </div>
                        <div class="tile-subtitle">
                            See the list of legacies!
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="home-row">
    <div class="home-inner-third">
        <a href="//leagueoflegends.com">
            <div class="game-link home-content">
                <img src="/img/L-icon.png" />
            </div>
            <div class="home-info home-content">
                <div class="gold-title">
                    League of Legends
                </div>
                <div class="gold-body">
                    <p>
                        Click here to find more information about this multiplayer online battle arena video game developed and published by Riot Games!
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>