<!DOCTYPE html>
<html <% if(config.language) { %>lang="<%= config.language %>"<% } else { %>lang="en"<% }%>>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

    <!-- Header -->
    <%- partial('_partial/header') %>

    <!-- Main Content -->
    <%- body %>

    <!-- Ads -->
    <div class="advertisement" align="center" style="background-color: #1c2229; padding-bottom: 30px;">
        <%- partial('_partial/ads') %>
    </div>

    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- Scripts -->
    <%- partial('_partial/scripts') %>

</body>

</html>