<div class="search-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="big-search-icon">
                    <img src="/img/magnify.png" />
                </div>
                <div class="big-search-bar">
                    <input id="big-search" type="text" name="search" placeholder="SEARCH" autocomplete="off">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="no-results-outer">
                <div class="no-results">
                    Sorry there were no results found...
                </div>
            </div>
            <% posts = site.posts.sort('slug', 1).toArray() %>
            <% for (var key in posts) { %>
                <% post = posts[key] %>
                <div class="col-md-6 text-center search-tile">        
                    <div class="tile">
                        <a href="/<%- post.slug %>" class="tile-text">
                            <div class="tile-title">
                                <%- post.title %>
                            </div>
                            <div class="tile-subtitle">
                                <%- post.subtitle %>
                            </div>
                        </a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $('.advertisement').css('background-color', 'white');
    });
    
    var $tiles = $('.search-tile');
    var $noResults = $('.no-results-outer');
    $('#big-search').keyup(function() {
        var searchWord = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        var $results = $tiles.show().filter(function() {
            var text = $(this).find('.tile-title').text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(searchWord);
        });
        $results.hide();
        
        $tiles.length == $results.length ? $noResults.css("display", "table") : $noResults.css("display", "none");
    });
    </script>
</div>
