<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- post -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-4259406987798009"
    data-ad-slot="6314486173"
    data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
