<footer class="site-footer">
    <div class="container footer-content">
        <div class="row footer-row">
            <div class="col align-self-center">
                <div class="footer-menu">
                    <a href="/">Home</a> |
                    <a href="/search">Search</a> |
                    <a href="/about">About</a> |
                    <a href="/contact">Contact</a>
                </div>
                <div class="share">
                    <a href="https://twitter.com/home?status=Come%20see%20the%20legacies%20born%20from%20the%20greatest%20moments%20in%20League%20of%20Legends%20history!%20http%3A//legacies.lol">
                        <img src="/img/twitter.png">
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//legacies.lol">
                        <img src="/img/facebook.png">
                    </a>
                </div>
                <div class="endorse">
                    Legacies.lol isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Youtube API -->
<script src="https://www.youtube.com/iframe_api"></script>