<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- partial('_partial/metas') %>

    <!-- Title -->
    <title>
        <% if (page.title) { %>
            <%- page.title %>
        <% } else { %>
            League of Legacies
        <% } %>
    </title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Autocomplete -->
    <!-- <link href="https://cdn.rawgit.com/Pixabay/JavaScript-autoComplete/master/auto-complete.css" rel="stylesheet" />
    <script src="https://cdn.rawgit.com/Pixabay/JavaScript-autoComplete/master/auto-complete.min.js"></script> -->
    
    <!-- Custom CSS -->
    <%- css('css/style.css') %>

    <!-- favicon -->
    <% if (theme.favicon){ %>
        <link rel="shortcut icon" type="image/png" href="/img/<%- theme.favicon %>"/>
    <% } %>
</head>