<header class="site-header">
    <div class="container header-content">
        <div class="row header-row">
            <a href="<%- theme.menu.home %>">
                <div class="col-md-5 col-xs-5 header-title">
                    <%- config.title %>
                </div>
            </a>
            <div class="header-hamburger col-xs-2">
                <input type="image" src="/img/menu.svg" onClick="toggleHamburger()" />
            </div>
            <a href="<%- theme.menu.search %>">
                <div class="header-expanded col-md-3 col-xs-3 header-search">
                    <div class="search-bar">
                        SEARCH LIST
                    </div>
                    <!--<%- partial('_partial/search') %>-->
                </div>
            </a>
            <a href="<%- theme.menu.about %>">
                <div class="header-expanded col-md-2 col-xs-2 header-button">
                    ABOUT
                </div>
            </a>
            <a href="<%- theme.menu.contact %>">
                <div class="header-expanded col-md-2 col-xs-2 header-button">
                    CONTACT
                </div>
            </a>
        </div>
        <div class="hamburger-menu hidden">
            <a href="<%- theme.menu.search %>">
                <div class="hamburger-row hamburger-search">
                    <div class="search-bar">
                        SEARCH LIST
                        <!--<input id="hamburger-search" type="text" name="search" placeholder="SEARCH" onfocus="this.placeholder = ''" autocomplete="off">-->
                    </div>
                </div>
            </a>
            <a href="<%- theme.menu.about %>">
                <div class="row hamburger-row header-button-text">
                    ABOUT
                </div>
            </a>
            <a href="<%- theme.menu.contact %>">
                <div class="row hamburger-row header-button-text">
                    CONTACT
                </div>
            </a>
        </div>
    </div>
</header>