<!-- General Description -->
<meta name="description" content="League of Legacies aims to celebrate the greatest moments in League of Legends history. It strives to document famous (or infamous) professional player highlights and provide details about their legacies. Come check it out!">

<!-- FB Open Graph Tags -->
<meta property="og:title" content="League of Legacies">
<meta property="og:type" content="website">
<meta property="og:image" content="http://legacies.lol/img/card-img.png">
<meta property="og:url" content="http://legacies.lol">
<meta property="og:description" content="Come celebrate the greatest moments in League of Legends history!">


<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://legacies.lol">
<meta name="twitter:title" content="League of Legacies">
<meta name="twitter:image" content="http://legacies.lol/img/card-img.png">
