<% if (item.theme == 0) { %>
    <article class="black">
<% } else { %>
    <article class="white">
<% } %>
    <div class="advertisement" align="center" style="background-color: #1c2229; padding-top: 30px;">
        <%- partial('_partial/ads') %>
    </div>
    <div class="post-container container">
        <div class="title-row row">
            <div class="info-col">
                <div class="post-title">
                    <%- item.title %>
                </div>
                <div class="post-subtitle">
                    <%- item.subtitle %>
                </div>
                <div class="post-player">
                    <%- item.player %>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="info-col col-md-5">
                <div class="post-content">
                    <h3><%- item.subtitle %></h3>
                    <p>
                        <%- item.content %>
                    </p>
                </div>
            </div>
            <div class="video-col col-md-7">
                <div class="post-video">
                    <div class="video-content tab-content">
                        <% count = 1 %>
                        <% for (var key in item.videos) { %>
                            <% if (count == 1) { %>
                                <div id="video<%- count %>" class="video tab-pane fade in active">
                            <% } else { %>
                                <div id="video<%- count %>" class="video tab-pane fade">
                            <% } %>
                                <div class="video-container">
                                    <iframe class="youtube" id="yt<%- count %>" width="854" height="480" src="<%- key %>" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <% count += 1 %>
                        <% } %>
                    </div>
                </div>
                <div class="post-video-pagination text-center">
                    <div class="tab-content">
                        <% count = 1 %>
                        <% for (var key in item.videos) { %>
                            <% if (count == 1) { %>
                                <div id="video<%- count %>_description" class="tab-pane fade in active">
                            <% } else { %>
                                <div id="video<%- count %>_description" class="tab-pane fade">
                            <% } %>
                            <% desc = item.videos[key].split(".."); %>
                            <p>
                                <%- desc[0] -%>
                            </p>
                            <!--<br>
                            <p>
                                <%- desc[1] -%>
                            </p>-->
                            </div>
                            <% count += 1 %>
                        <% } %>
                    </div>
                    <img class="pagination-decor" src="/img/pagination-decor.png" />
                    <% if (count > 2) { %>
                        <ul class="nav nav-pills"> 
                            <% count = 1 %>
                            <% for (var key in item.videos) { %>
                                <% if (count == 1) { %>
                                    <li class="page-button active">
                                <% } else { %>
                                    <li class="page-button">
                                <% } %>
                                    <a onClick="pillSwitch()" data-toggle="pill" href="#video<%- count %>" data-target="#video<%- count %>, #video<%- count %>_description">
                                        <%- count %>
                                    </a>
                                </li>
                                <% count += 1 %>
                            <% } %>
                        </ul>
                    <% } %>
                    <img class="pagination-decor flip-horizontal" src="/img/pagination-decor.png" />
                </div>
            </div>
        </div>
        <div class="quote-row row">
            <% if (item.quote) { %>
                <div class="quote-container">
                    <blockquote>
                        <div class="post-quote">
                            <%- item.quote %>
                        </div>
                        <br>
                        <div class="post-quote-author">
                            <%- item.quoteAuthor %>
                        </div>
                    </blockquote>
                </div>
            <% } %>
        </div>
    </div>
    <div class="player-info">
        <div class="container">
            <div class="row">
                <div class="col-md-4 player-head">
                    <img src="/img/players/<%- item.slug%>.png" />
                </div>
                <div class="col-md-8 player-bio">
                    <div class="black-title">
                        <%- item.player %>
                    </div>
                    <hr align="left">
                    <div class="dark-gold-body">
                        <p>
                            <%- item.playerInfo %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col align-self-center next-button">
                <a href="<%- item.nextPage.url %>">
                    <%- item.nextPage.name %>
                    <%- partial('_partial/right-arrow') %>
                </a>
            </div>
        </div>
    </div>
</article>