<script>
    var responsiveHeader = 820;
    menu = document.getElementsByClassName("hamburger-menu")[0]
    var $window = $(window);

    // Header responsive
    function changeHeader() {
        var width = $window.width();
        if (width <= responsiveHeader) {
            document.getElementsByClassName("header-title")[0].className = "col-md-6 col-xs-10 header-title"
        }
        if (width > responsiveHeader) {
            document.getElementsByClassName("header-title")[0].className = "col-md-5 col-xs-5 header-title"
            $(".hamburger-menu").addClass("hidden");
        }
    }
    changeHeader();
    $window.resize(changeHeader);

    // Hamburger onClick
    function toggleHamburger() {
        $(".hamburger-menu").toggleClass("hidden");
    }

    $(document).click(function(event) {
        var clicked = $(event.target);
        var $menu = $(".hamburger-menu");
        var expanded = !$menu.hasClass("hidden");
        if (expanded === true && !clicked.is("input")) {
            $menu.addClass("hidden");
        }
    });

    // Nav Pill Switch
    var players = [];
    function onYouTubeIframeAPIReady() {
        $(".youtube").each(function() {
            players.push(new YT.Player($(this).attr("id")));
        });
    }
    
    function pillSwitch() {
        for (var key in players) {
            players[key].pauseVideo();
        }
    }

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-101154672-1', 'auto');
  ga('send', 'pageview');
</script>