<div class="search-icon">
    <img src="/img/magnify.png" />
</div>
<div class="search-bar">
    <input id="search" type="text" name="search" placeholder="SEARCH" onfocus="this.placeholder = ''" autocomplete="off">
</div>